body{
    font-family: 'Agdasima', sans-serif;
}
.searcbtn{
    margin-left: 10px;
}

.searchForm{
    margin-top: 50px;
    padding: 10px;
}

.countryCard{
    padding: 10px;
}

.no-border{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px !important;
    width: 150px;

}

#searchBox{
    font-size: 2em;
}

.resultSection{
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.countryName{
    text-transform: uppercase;
    font-weight: bold;
}

body{
    background: url('../public/images/background.jpg');
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-opacity{
    background-color: rgba(0, 0, 0, 0.5);
}

.card-title{
    color: white;
    font-size: 2em;
}

.card-text{
    color: white;
    font-size: 1.5em; 
}

.weatherCard{
    margin-top: 3em;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5%;
}